.sidebar {
	position: fixed;
	top: 60px;
	float: left;
}

.sidebar li {
	margin-top: 10px;
	width: 20%;
}

.main {
position: fixed;
top: 51px;
right: 0px;
	


height: 100%;
width: 80%;


}


html, body, #map-canvas { height: 100%;}